
  .icon-menu {
    display: flex;
    background: linear-gradient(-45deg,#332b67,#28558e,#332b67,#28558e);
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: -140px;
    border: 1px solid #fff; /* Border */
    
  }
  
  .icon {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s; /* Transition for hover effect */
    
  }
  
  .icon:hover {
    color: #ffc107; /* Yellow color on hover */
    transform: translateY(-3px); /* Vertical position change on hover */
  }
  
  .menu-icon {
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #fff;
  }
  
  
  