.flightIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: 0 -55px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fd0;
    /* transition: .3s linear; */

 
}
.hotelsIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -178px 6px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
    
   
}
.busTicketIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -486px 6px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}

.retiringIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -120px 6px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}
.loungeIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -61px 5px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}
.tourPackageIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -901px 4px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}
.touristIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -956px 6px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}
.buddhistTrainIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -787px 3px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}

.maharajasIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -609px 4px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}

.goldenChariotIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position: -728px 2px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
}
.CruiseIcon{
    background-image: url("https://www.air.irctc.co.in/assets/img/nav-sprite.webp");
    background-position:  -426px 5px ;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border:1px solid #fff;
    
}



.container{
    /* background-size: 400% 400%; */
    /* position: relative; */
    /* z-index: 100; */
    /* top:280px;  */
    /* padding:10px 0; */
    /* background: linear-gradient(-45deg,#332b67,#28558e,#332b67,#28558e); */
    /* clear:both;
    width:100%; */
    /* box-sizing: border-box; */
    /* margin-right: auto;
    margin-left:auto; */
}


.HomeSmallMenu{
    position: relative;
    /* z-index: 100; */
    top:280px; 
    padding:10px 0; 
    background: linear-gradient(-45deg,#332b67,#28558e,#332b67,#28558e);
    
}
.container .navList{
    list-style: none;
}
.nav-link{
    cursor: pointer;
    
}


/* .icons{
    margin-left: 30px;
    padding-top: 20px;
} */

.nav-wrap-icons{
    display: flex;
    justify-content: space;
}
.spanclass{
    color:#fd0;
   
}

.items{
    text-align: center;
}

